<datagrid>
    
    <column width="30" order="0" name="Name" property="Name" type="string">
        <span class="icn-indent series">
            <a ng-href="/series/{{item.Id}}">{{item.Name}}</a>
        </span>
        <span editable-text="item.Name" e-required></span>
    </column>

    <column width="40" order="1" name="Description" property="Description" type="string">
        <span editable-text="item.Description" e-required>
            {{item.Description}}
        </span>
    </column>

    <column width="30" order="2" name="Vendor" property="Vendor.Name" type="string" link="vendor" linkProperty="Vendor">
        <span ng-class="{ 'icn-indent vendor' : item.VendorId != null }">
            <a ng-href="/vendor/{{item.VendorId}}">{{item.Vendor.Name}}</a>
        </span> 
    </column>

</datagrid>