<datagrid>

    <column width="60" order="0" name="Permission" property="Permission.Info" type="string">
        <span class="icn-indent permission"></span>
           {{item.Permission.Info}}
    </column>

    <column width="10" order="1" name="View" property="Read" type="enumeration" enumtype="RoleScopes">
        <span editable-select="item.Read" ng-controller="SelectController" onshow="loadEnum('RoleScopes')" e-ng-options="r.Name as r.Name for r in rolescopes | orderBy:'Name'">
            {{item.Read || 'not set'}}
        </span>
    </column>

    <column width="10" order="2" name="Create" property="Create" type="enumeration" enumtype="RoleScopes">
        <span editable-select="item.Create" ng-controller="SelectController" onshow="loadEnum('RoleScopes')" e-ng-options="r.Name as r.Name for r in rolescopes | orderBy:'Name'">
            {{item.Create || 'not set'}}
        </span>
    </column>

    <column width="10" order="3" name="Modify" property="Update" type="enumeration" enumtype="RoleScopes">
        <span editable-select="item.Update" ng-controller="SelectController" onshow="loadEnum('RoleScopes')" e-ng-options="r.Name as r.Name for r in rolescopes | orderBy:'Name'">
            {{item.Update || 'not set'}}
        </span>
    </column>

    <column width="10" order="4" name="Delete" property="Delete" type="enumeration" enumtype="RoleScopes">
        <span editable-select="item.Delete" ng-controller="SelectController" onshow="loadEnum('RoleScopes')" e-ng-options="r.Name as r.Name for r in rolescopes | orderBy:'Name'">
            {{item.Delete || 'not set'}}
        </span>
    </column>
</datagrid>
