<datagrid>

    <column width="36" order="0" name="Name" property="Name" type="string">
        <span class="icn-indent experience">
            <a ng-href="/experience/{{item.Id}}">{{item.Name}}</a>
        </span>
        <span editable-text="item.Name" e-required></span>
    </column>

    <column width="36" order="1" name="Tags" property="Tags" type="string">
        <span editable-textarea="item.Tags">{{item.Tags}}</span> 
    </column>

    <column width="7" order="2" name="Created" property="Created" type="string">
        {{item.Created | amDateFormat: 'DD.MM.YYYY HH:mm'}}
    </column>

    <column width="7" order="3" name="Edited" property="Edited" type="string">
        {{item.Edited | amDateFormat: 'DD.MM.YYYY HH:mm'}}
    </column>

    <column width="7" order="4" name="Creator" property="Creator.Name" type="string">
        <span class="icn-indent user">
            <a ng-href="/user/{{item.CreatorId}}">{{item.Creator.Name}}</a>
        </span>
    </column>

    <column width="7" order="5" name="Editor" property="Editor.Name" type="string">
        <span ng-show="item.Editor != null" class="icn-indent user">
            <a ng-href="/user/{{item.EditorId}}">{{item.Editor.Name}}</a>
        </span>
    </column>

</datagrid>
