<datagrid data-type="ComponentMaintenances" data-cache-key="maintenance-components" data-expand="Component,Component.Vendor" data-sort="Component.Vendor.Name">

    <where property="MaintenanceId" condition="==" val="{{item.Id}}" />

    <column width="20" order="0" name="Vendor" property="Component.Vendor.Name" type="string">
        <span class="icn-indent vendor">
            <a ng-href="/chapter/{{item.Component.VendorId}}">{{item.Component.Vendor.Name}}</a>
        </span> 
    </column>

    <column width="40" order="1" name="Name" property="Component.Name" type="string">
        <span class="icn-indent component">
            <a ng-href="/component/{{item.ComponentId}}">{{item.Component.Name}}</a>
        </span> 
    </column>

    <column width="40" order="2" name="Description" property="Component.Description">
        {{item.Component.Description || 'not set'}}
    </column>

</datagrid>