<datagrid>

    <column width="30" order="0" name="Name" property="Maintenance.Name" type="string">
        <span class="icn-indent maintenance"></span>
        <a ng-href="/maintenance/{{item.MaintenanceId}}">{{item.Maintenance.Name}}</a>
        <span editable-text="item.Maintenance.Name"></span> 
    </column>

    <column width="30" order="1" name="Remarks" property="Remarks" type="string">
        <span editable-text="item.Remarks">
	    {{item.Remarks}}
        </span>
    </column>

    <column width="5" order="2" name="Day" property="Maintenance.IntervalDaily">
        <input type="checkbox" ng-model="item.Maintenance.IntervalDaily" />
    </column>
    <column width="5" order="3" name="Week" property="Maintenance.IntervalWeekly">
        <input type="checkbox" ng-model="item.Maintenance.IntervalWeekly" />
    </column>
    <column width="5" order="4" name="2. week" property="Maintenance.IntervalWeekly2">
        <input type="checkbox" ng-model="item.Maintenance.IntervalWeekly2" />
    </column>
    <column width="5" order="5" name="Month" property="Maintenance.IntervalMonthly">
        <input type="checkbox" ng-model="item.Maintenance.IntervalMonthly" />
    </column>
    <column width="5" order="6" name="3. month" property="Maintenance.IntervalMonthly3">
        <input type="checkbox" ng-model="item.Maintenance.IntervalMonthly3" />
    </column>
    <column width="5" order="7" name="3. month" property="Maintenance.IntervalMonthly6">
        <input type="checkbox" ng-model="item.Maintenance.IntervalMonthly6" />
    </column>
    <column width="5" order="8" name="Year" property="Maintenance.IntervalYearly">
        <input type="checkbox" ng-model="item.Maintenance.IntervalYearly" />
    </column>
    <column width="5" order="9" name=">Year" property="Maintenance.IntervalRarely">
        <input type="checkbox" ng-model="item.Maintenance.IntervalRarely" />
    </column>

</datagrid>
