Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
EasyCMS/*
EasyDOC.Api/root
EasyDOC.Api/Content
EasyDOC.Api/Scripts
EasyDOC.Api/old_app
EasyDOC.Api/imagecache
EasyDOC.Api/.sass-cache
new.git/
old.git/
packages/
