<datagrid>
    
    <column width="35" order="0" name="Name" property="Name" type="string">
        <span class="icn-indent" ng-class="item.entityAspect.entityGroup.entityType.shortName.toLowerCase()">
            <a ng-href="/{{item.entityAspect.entityGroup.entityType.shortName == 'Component' ? 'component' : 'series' }}/{{item.Id}}">{{item.Name}}</a>
        </span>
        <span editable-text="item.Name" e-required></span>
    </column>

    <column width="40" order="1" name="Description" property="Description" type="string">
        <span editable-text="item.Description" e-required>
            {{item.Description}}
        </span>
    </column>

    <column width="15" order="2" name="Vendor" property="Vendor.Name" type="string" link="vendor" linkProperty="Vendor">
        <span ng-class="{ 'icn-indent vendor' : item.VendorId != null }">
            <a ng-href="/vendor/{{item.VendorId}}">{{item.Vendor.Name}}</a>
        </span> 
    </column>

    <column width="10" order="3" name="Category" property="Category.Name" type="string" link="category" linkProperty="Category">
        <span ng-class="{ 'icn-indent category' : item.CategoryId != null }">
            <a ng-href="/category/{{item.CategoryId}}">{{item.Category.Name}}</a>
        </span> 
    </column>

</datagrid>