<div class="row">
    <div class="col-md-12">
        <table class="property-grid">
            <tr>
                <td><label>Order Number</label></td>
                <td>{{item.OrderNumber}}</td>
            </tr>
            <tr>
                <td><label>Order Date</label></td>
                <td>{{item.OrderDate | amDateFormat: 'DD.MM.YYYY'}}</td>
            </tr>
            <tr>
                <td><label>Vendor</label></td>
                <td><span class="icn-indent vendor"><a ng-href="/vendor/{{item.VendorId}}">{{item.Vendor.Name}}</a></span></td>
            </tr>
            <tr>
                <td><label>Vendor reference</label></td>
                <td>{{item.VendorReference}}</td>
            </tr>
            <tr>
                <td><label>Customer Number</label></td>
                <td>{{item.CustomerNumber}}</td>
            </tr>
            <tr>
                <td><label>Customer reference</label></td>
                <td><span class="icn-indent employee"><a ng-href="/employee/{{item.EmployeeId}}">{{item.CustomerReference.Name}}</a></span></td>
            </tr>
            <tr>
                <td><label>Delivery Method</label></td>
                <td>{{item.DeliveryMethod}}</td>
            </tr>
            <tr>
                <td><label>Delivery Conditions</label></td>
                <td>{{item.DeliveryConditions}}</td>
            </tr>
            <tr>
                <td><label>Tag</label></td>
                <td>{{item.Tag}}</td>
            </tr>
            <tr>
                <td><label>Payment Method</label></td>
                <td>{{item.PaymentMethod}}</td>
            </tr>
            <tr>
                <td><label>Payment Conditions</label></td>
                <td>{{item.PaymentConditions}}</td>
            </tr>
            <tr>
                <td><label>Currency</label></td>
                <td>{{item.Currency}}</td>
            </tr>
            <tr>
                <td><label>Total Amount (ex. taxes)</label></td>
                <td>{{item.TotalAmountWithoutTaxes | currency:item.Currency || ''}}</td>
            </tr>
            <tr>
                <td><label>Total Amount (inc. taxes)</label></td>
                <td>{{item.TotalAmountWithTaxes | currency:item.Currency || ''}}</td>
            </tr>
            <tr>
                <td><label>Invoice Address</label></td>
                <td><p ng-bind-html-unsafe="item.InvoiceAddress | newline"></p></td>
            </tr>
            <tr>
                <td><label>Delivery Address</label></td>
                <td><p ng-bind-html-unsafe="item.DeliveryAddress | newline"></p></td>
            </tr>
        </table>
    </div>
</div>
