<div class="row">
    <div class="col-md-12">
        <table class="property-grid">
            <tr>
                <td><label>Project manager</label></td>
                <td>
                    <span class="icn-indent employee">
                        <a ng-href="/employee/{{item.ProjectManagerId}}">{{item.ProjectManager.Name || 'not set' }}</a>
                    </span>
                    <button ng-click="select('employee','ProjectManager')" class="editable-link">
                        <i class="fa fa-link">&nbsp;</i>
                    </button>
                    <button ng-click="item.ProjectManagerId = null" class="editable-link">
                        <i class="fa fa-unlink">&nbsp;</i>
                    </button>
                </td>
            </tr>

            <tr>
                <td><label>Customer</label></td>
                <td>
                    <span class="icn-indent customer">
                        <a ng-href="/customer/{{item.CustomerId}}">{{item.Customer.Name || 'not set' }}</a>
                    </span>
                    <button ng-click="select('customer','Customer')" class="editable-link">
                        <i class="fa fa-link">&nbsp;</i>
                    </button>
                    <button ng-click="item.CustomerId = null" class="editable-link">
                        <i class="fa fa-unlink">&nbsp;</i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
