<datagrid>

    <column width="60" order="0" name="Name" property="Safety.Name" type="string">
        <span class="icn-indent safety">
            <a ng-href="/safety/{{item.SafetyId}}">{{item.Safety.Name}}</a>
        </span> 
    </column>

    <column width="20" order="1" name="Location" property="Location" type="string">
        <span editable-text="item.Location">
            {{item.Location}}
        </span> 
    </column>

    <column width="10" order="2" name="Role" property="Role" type="enumeration" enumtype="SafetyRoles">
        <span editable-select="item.Role" ng-controller="SelectController" onshow="loadEnum('SafetyRoles')" e-ng-options="r.Name as r.Name for r in safetyroles | orderBy:'Name'">
            {{item.Role || 'not set'}}
        </span>
    </column>

    <column width="10" order="3" name="Manual" property="IncludeInManual">
        <input type="checkbox" ng-model="item.IncludeInManual"/>
    </column>

</datagrid>