<div class="row">
    <h3>Search results</h3>
    <div ng-if="searchData.count.Projects > 0">
        <h4>Projects ({{searchData.count.Projects}})</h4>
        <ul>
            <li ng-repeat="project in searchData.data.Projects | orderBy:'-ProjectNumber'"><a ng-href="/project/{{project.Id}}"><i class="icn-indent project"></i>{{project.ProjectNumber}}</a> - {{project.Name || 'no name'}}</li>
        </ul>
    </div>
    <div ng-if="searchData.count.Experiences > 0">
        <h4>Experiences ({{searchData.count.Experiences}})</h4>
        <ul>
            <li ng-repeat="experience in searchData.data.Experiences"><a ng-href="/experience/{{experience.Id}}"><i class="icn-indent experience"></i>{{experience.Name}}</a></li>
        </ul>
    </div>
    <div ng-if="searchData.count.Customers > 0">
        <h4>Customers ({{searchData.count.Customers}})</h4>
        <ul>
            <li ng-repeat="customer in searchData.data.Customers"><a ng-href="/customer/{{customer.Id}}"><i class="icn-indent customer"></i>{{customer.Name}}</a></li>
        </ul>
    </div>
    <div ng-if="searchData.count.Vendors > 0">
        <h4>Vendors ({{searchData.count.Vendors}})</h4>
        <ul>
            <li ng-repeat="vendor in searchData.data.Vendors"><a ng-href="/vendor/{{vendor.Id}}"><i class="icn-indent vendor"></i>{{vendor.Name}}</a></li>
        </ul>
    </div>
    <div ng-if="searchData.count.Components > 0">
        <h4>Components ({{searchData.count.Components}})</h4>
        <ul>
            <li ng-repeat="component in searchData.data.Components"><a ng-href="/component/{{component.Id}}"><i class="icn-indent component"></i>{{component.Name}}</a> - {{component.Description || 'no description'}}</li>
        </ul>
    </div>
    <div ng-if="searchData.count.ComponentSeries > 0">
        <h4>Component series ({{searchData.count.ComponentSeries}})</h4>
        <ul>
            <li ng-repeat="series in searchData.data.ComponentSeries"><a ng-href="/componentseries/{{series.Id}}"><i class="icn-indent series"></i>{{series.Name}}</a></li>
        </ul>
    </div>
    <div ng-if="searchData.count.Employees > 0">
        <h4>Employees ({{searchData.count.Employees}})</h4>
        <ul>
            <li ng-repeat="employee in searchData.data.Employees"><a ng-href="/employee/{{employee.Id}}"><i class="icn-indent employee"></i>{{employee.Name}}</a> - {{employee.Title}}</li>
        </ul>
    </div>
    <div ng-if="searchData.count.Files > 0">
        <h4>Files ({{searchData.count.Files}})</h4>
        <ul>
            <li ng-repeat="file in searchData.data.Files"><a ng-href="/file/{{file.Id}}"><i class="icn-indent file"></i>{{file.Name}}.{{file.Type}}</a> - {{file.Description || 'no description'}}</li>
        </ul>
    </div>
</div>