<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    1349
                </div>
                <div class="desc">
                    New Feedbacks
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    12,5M$
                </div>
                <div class="desc">
                    Total Profit
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    549
                </div>
                <div class="desc">
                    New Orders
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    +89%
                </div>
                <div class="desc">
                    Brand Popularity
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->
<div class="clearfix">
</div>
<div class="col-md-6">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><b><i class="fa fa-fw fa-gears"></i> PROJECTS</b></div>
            <table class="table">
                <tr>
                    <td>Planned projects</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>Active projects</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>Completed projects</td>
                    <td>2890</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><b><i class="fa fa-fw fa-medkit"></i> SERVICE</b></div>
            <table class="table">
                <tr>
                    <td>Planned service orders</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>Active service orders</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>Completed service orders</td>
                    <td>2890</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><b><i class="fa fa-fw fa-tasks"></i> TODOs</b></div>
            <table class="table">
                <tr>
                    <td>Components that need to be categorized</td>
                    <td>541</td>
                </tr>
                <tr>
                    <td>Order confirmations that need to be confirmed</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>Service rapports that need to be written</td>
                    <td>7</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading"><b><i class="fa fa-fw fa-tasks"></i> TASKS</b></div>
        <table class="table">
            <tr>
                <td>Total active tasks</td>
                <td>106</td>
            </tr>
            <tr>
                <td>Tasks that are overdue</td>
                <td>16</td>
            </tr>
            <tr>
                <td>Tasks that are due this week</td>
                <td>27</td>
            </tr>
            <tr>
                <td>Planned tasks</td>
                <td>287</td>
            </tr>
            <tr>
                <td>Milestones that are overdue</td>
                <td>2</td>
            </tr>
        </table>
    </div>
</div>

