<script type="text/ng-template" id="tree.html">

    <i class="fa fa-fw"
       ng-click="item.hasChildren && toggleChildren(item)"
       ng-class="{
            'fa-plus-square-o' : item.hasChildren && !item.isExpanded,
            'fa-minus-square-o' : item.isExpanded,
            '' : !item.hasChildren
        }">&nbsp;</i>

    <span class="{{item.entityAspect.entityState.name}}" ng-click="selectItem(item)" ng-dblclick="item.hasChildren && toggleChildren(item)" droppable item="item">
        <i class="fa fa-fw" ng-class="{ 'fa-spinner fa-spin' : item.isLoading, 'fa-folder' : !item.isExpanded, 'fa-folder-open' : item.isExpanded }">&nbsp;</i>
        <a ng-class="{ 'selected' : item == selectedItem }">{{item.Name}}</a>
    </span>
    <span ng-if="item.Id != 1" editable-text="item.Name"></span>
    <ul ng-if="item.isExpanded">
        <li ng-repeat="item in getSubItems(item) | orderBy:'Name'" ng-include="'tree.html'" draggable item="item"></li>
    </ul>
</script>

<div ng-controller="tree">

    <table style="width: 100%;" id="tree-grid">
        <tr class="table-row">
            <td class="cell" style="vertical-align: top; width: 18%;">
                <div class="toolbar">
                    <button class="button" ng-repeat="b in toolbar" ng-if="b.visible" ng-disabled="b.disabled" ng-click="b.action()">
                        <i class="fa fa-fw {{b.icon}}"></i>
                    </button>
                    <span ng-if="isLoading"><i class="fa fa-spinner fa-spin"></i></span>
                </div>
                <div style="width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    <ul class="tree-node" style="padding: 0;">
                        <li ng-model="item" ng-include="'tree.html'"></li>
                    </ul>
                </div>
            </td>
            <td class="cell" style="vertical-align: top;">
                <div class="pull-left">
                    <div ng-hide="showUploadDetails"><datagrid></datagrid></div>
                </div>
            </td>
        </tr>
    </table>

    <div class="modal fade" id="uploadFiles" tabindex="-1" role="dialog" aria-labelledby="uploadFiles" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Uploading file(s) to server ...</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="file in files">
                        {{file.name}}
                        <div class="progress">
                            <div class="progress-bar progress-bar-{{file.state}}" role="progressbar" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': file.progress + '%' }">{{file.progress + '%'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

