<div class="col-md-12">
    <div ng-if="loaded" class="page-header">
        <span ng-include="header"></span>
        <span class="pull-right" ng-include="'/app/partials/history.html'"></span>
    </div>
    <div ng-if="!loaded">
        Loading entity ...
    </div>
</div>

<tabset vertical="false" type="'pills'">
    <tab ng-repeat="tab in tabs" ng-if="tab.visible" heading="{{tab.title}}" disabled="hasNewItems()" active="tab.active" select="selectTab(tab)">
        <div ng-if="tab.template">
            <div ng-include="tab.template"></div>
        </div>
    </tab>
</tabset>

<div ui-view="sub"></div>
