<div class="row">
    <div class="col-md-12">
        <table class="property-grid">
            <tr>
                <td><label>Account</label></td>
                <td>
                    <span class="icn-indent user">
                        <a ng-href="/user/{{item.AccountId}}">{{item.Account.Name}}</a>
                    </span>
                    <button ng-click="select('user','Account')" class="editable-link">
                        <i class="fa fa-link">&nbsp;</i>
                    </button>
                    <button ng-click="item.AccountId = null" class="editable-link">
                        <i class="fa fa-unlink">&nbsp;</i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>