<datagrid>

    <column width="50" order="0" name="Name" property="Name" type="string">
        <span class="icn-indent orderconfirmation">
            <a ng-href="/orderconfirmation/{{item.Id}}">{{item.Name}}</a>
        </span>
    </column>

    <column width="40" order="1" name="Vendor" property="Vendor.Name" type="string">
        <span class="icn-indent vendor">
            <a ng-href="/vendor/{{item.VendorId}}">{{item.Vendor.Name}}</a>
        </span>
    </column>

    <column width="10" order="2" name="Created" property="Created" type="string">
        {{item.Created | amDateFormat: 'DD.MM.YYYY HH:mm'}}
    </column>

</datagrid>
