<datagrid>
    
    <column width="40" order="0" name="Name" property="Name" type="string">
        <span class="icn-indent chapter">
            <a ng-href="/chapter/{{item.Id}}">{{item.Name}}</a>
        </span>
        <span editable-text="item.Name" e-required></span>
    </column>

    <column width="40" order="1" name="Description" property="Description" type="string">
        <span editable-textarea="item.Description" e-required>
            {{item.Description}}
        </span>
    </column>

    <column width="20" order="2" name="Project" property="Project.ProjectNumber" type="string" link="project" linkProperty="Project">
        <span ng-class="{ 'icn-indent project' : item.ProjectId != null}">
            <a ng-href="/project/{{item.ProjectId}}">{{item.Project.ProjectNumber}}</a>
        </span>
    </column>
</datagrid>