<datagrid>
    <column width="10" order="0" name="Vendor" property="Component.Vendor.Name" type="string">
        <span ng-class="{ 'icn-indent vendor' : item.Component.Vendor != null }">
            <a ng-href="/vendor/{{item.Component.VendorId}}">{{item.Component.Vendor.Name || 'not set'}}</a>
        </span> 
    </column>

    <column width="15" order="1" name="Article" property="Component.Name" link="abstractcomponent" linkProperty="Component" type="string">
        <span class="icn-indent" ng-class="item.Component.entityAspect.entityGroup.entityType.shortName.toLowerCase()">
            <a ng-href="/{{item.Component.entityAspect.entityGroup.entityType.shortName == 'Component' ? 'component' : 'series' }}/{{item.ComponentId}}">{{item.Component.Name}}</a>
        </span>
        <span editable-text="item.Component.Name" e-required></span>
    </column>

    <column width="30" order="2" name="Description" property="Component.Description" type="string">
        <span editable-textarea="item.Component.Description">
            {{(item.Component.Description.length > 50 ? item.Component.Description.substr(0,50) + '...' : item.Component.Description) || 'not set' }}
        </span>
    </column>

    <column width="15" order="3" name="Category" property="Component.Category.Name" type="string" link="category" linkProperty="Component.Category">
        <span ng-class="{ 'icn-indent category' : item.Component.CategoryId != null }">
            <a ng-href="/category/{{item.Component.CategoryId}}">{{item.Component.Category.Name}}</a>
        </span> 
    </column>

    <column width="10" order="4" name="Info" property="Info" type="string">
        <span editable-textarea="item.Info">{{item.Info || 'not set' }}</span>
    </column>

    <column width="5" order="5" name="Count" property="Count" type="number">
        <span editable-number="item.Count" e-min="0">{{item.Count}}</span>
    </column>

    <column width="5" order="6" name="Spare" property="Spare" type="number">
        <span editable-number="item.SpareParts" e-min="0">{{item.SpareParts}}</span>
    </column>

    <column width="10" order="7" name="Manual" property="IncludeInManual" type="bool">
        <input type="checkbox" ng-model="item.IncludeInManual"/>
    </column>

</datagrid>