@model EasyDOC.Api.ViewModels.PasswordResetModel

@{
    ViewBag.Title = "EasyDOC password reset";
    Layout = "_Layout.cshtml";
}

<h1 class="text-center login-title">@ViewBag.Message</h1>
<div class="account-wall">
    <img class="profile-img" src="/Content/images/user.png" alt="">
    <form action="/User/ResetPassword" method="POST" class="form-signin">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
        @Html.AntiForgeryToken()

        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Reset password"></input>

    </form>
</div>

@if (!Html.ViewData.ModelState.IsValid)
{
    <br />
    <div class="alert alert-danger">
        <strong>Warning!</strong> @Html.ValidationSummary()
    </div>
}
