<datagrid data-type="Projects" data-cache-key="customer-projects" data-show="20" data-sort="ProjectNumber">

    <where property="CustomerId" condition="==" val="{{item.Id}}" />

    <column width="10" order="0" name="Project number" property="ProjectNumber" type="string">
        <span class="icn-indent project">
            <a ng-href="/project/{{item.Id}}">{{item.ProjectNumber}}</a>
        </span>
        <span editable-text="item.ProjectNumber" e-required></span>
    </column>

    <column width="70" order="1" name="Description" property="Name" type="string">
        <span editable-textarea="item.Name" e-required>{{item.Name}}</span> 
    </column>

</datagrid>