<datagrid>
    
    <column width="38" order="0" name="Name" property="Name" type="string">
        <span class="icn-indent maintenance">
            <a ng-href="/maintenance/{{item.Id}}">{{item.Name}}</a>
        </span>
        <span editable-text="item.Name" e-required></span>
    </column>

    <column width="15" order="1" name="Vendor" property="Vendor.Name" type="string" link="vendor" linkProperty="Vendor">
        <span ng-class="{ 'icn-indent vendor' : item.VendorId != null }">
            <a ng-href="/vendor/{{item.VendorId}}">{{item.Vendor.Name}}</a>
        </span> 
    </column>

    <column width="5" order="2" name="Day" property="IntervalDaily" type="bool">
        <div ng-click="item.IntervalDaily = !item.IntervalDaily" style="text-align: center;">
            <i ng-show="item.IntervalDaily" class="fa fa-check"></i><span>&nbsp;</span>
        </div>
    </column>
    <column width="5" order="3" name="Week" property="IntervalWeekly" type="bool">
        <div ng-click="item.IntervalWeekly = !item.IntervalWeekly" style="text-align: center;">
            <i ng-show="item.IntervalWeekly" class="fa fa-check"></i><span>&nbsp;</span>
        </div>
    </column>
    <column width="6" order="4" name="2. week" property="IntervalWeekly2" type="bool">
        <div ng-click="item.IntervalWeekly2 = !item.IntervalWeekly2" style="text-align: center;">
            <i ng-show="item.IntervalWeekly2" class="fa fa-check"></i><span>&nbsp;</span>
        </div>
    </column>
    <column width="6" order="5" name="Month" property="IntervalMonthly" type="bool">
        <div ng-click="item.IntervalMonthly = !item.IntervalMonthly" style="text-align: center;">
            <i ng-show="item.IntervalMonthly" class="fa fa-check"></i><span>&nbsp;</span>
        </div>
    </column>
    <column width="7" order="6" name="3. month" property="IntervalMonthly3" type="bool">
        <div ng-click="item.IntervalMonthly3 = !item.IntervalMonthly3" style="text-align: center;">
            <i ng-show="item.IntervalMonthly3" class="fa fa-check"></i><span>&nbsp;</span>
        </div>
    </column>
    <column width="7" order="7" name="6. month" property="IntervalHalfYearly" type="bool">
        <div ng-click="item.IntervalHalfYearly = !item.IntervalHalfYearly" style="text-align: center;">
            <i ng-show="item.IntervalHalfYearly" class="fa fa-check"></i><span>&nbsp;</span>
        </div>
    </column>
    <column width="5" order="8" name="Year" property="IntervalYearly" type="bool">
        <div ng-click="item.IntervalYearly = !item.IntervalYearly" style="text-align: center;">
            <i ng-show="item.IntervalYearly" class="fa fa-check"></i><span>&nbsp;</span>
        </div>
    </column>
    <column width="6" order="9" name=">Year" property="IntervalRarely" type="bool">
        <div ng-click="item.IntervalRarely = !item.IntervalRarely" style="text-align: center;">
            <i ng-show="item.IntervalRarely" class="fa fa-check"></i><span>&nbsp;</span>
        </div>
    </column>

</datagrid>
